@media print, screen and (min-width: 480px) {
  .col-sm-9 {
    width: 100%;
  }
}

.projects {
  margin-top: 2rem;
}

.projects h1 {
  color: var(--global-theme-color);
  font-size: 2rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.projects h2 {
  margin-bottom: 1rem;
}

.projects h2 span {
  font-size: 1.5rem;
}

.projects h2.year {
  color: #e8e8e8;
  border-top: 1px solid #e8e8e8;
  margin-top: 2rem;
  margin-bottom: 0rem;
  text-align: right;
}

.projects ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.projects ul li {
  min-height: 110px;
  margin-bottom: 0rem;
}

.projects ul li .abbr {
  height: 8rem;
  margin-bottom: 0.5rem;
}

.projects ul li .abbr abbr {
  display: inline-block;
  background-color: var(--global-theme-color);
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 8px;
  left: 16px;
}

.projects ul li .abbr abbr a {
  color: white;
}

.projects ul li .abbr abbr a:hover {
  text-decoration: none;
}

.projects ul li .abbr .award {
  color: var(--global-theme-color) !important;
  border: 1px solid var(--global-theme-color);
}

.projects ul li .title {
  font-weight: bolder;
}

.projects ul li .alt {
  font-style: italic;
  font-size: small;
  opacity: 0.8;
}

.projects ul li .author a {
  border-bottom: 1px var(--global-theme-color);
}

.projects ul li .author a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}

.projects ul li .author > em {
  border-bottom: 1px solid;
  font-style: normal;
}

.projects ul li .links a.btn {
  color: #000000;
  border: 1px solid #000000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

@media (prefers-color-scheme: dark) {
  .projects ul li .links a.btn {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.projects ul li .links a.btn:hover {
  color: var(--global-theme-color);
  border-color: var(--global-theme-color);
}

.projects ul li .hidden {
  font-size: 0.875rem;
  max-height: 0px;
  overflow: hidden;
  text-align: justify;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}

.projects ul li .hidden p {
  line-height: 1.4em;
  margin: 10px;
}

.projects ul li .hidden pre {
  font-size: 1em;
  line-height: 1.4em;
  padding: 10px;
}

.projects ul li .hidden.open {
  max-height: 100em;
  -webkit-transition: 0.15s ease;
  -moz-transition: 0.15s ease;
  -ms-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: all 0.15s ease;
}

.projects ul li div.abstract.hidden {
  border: dashed 1px var(--global-bg-color);
}

.projects ul li div.abstract.hidden.open {
  border-color: var(--global-text-color);
}

.projects ul li .teaser {
  border-radius: 8px;
  box-shadow: 3px 3px 6px #888;
  height: 123px;
  width: 270px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  object-fit: cover;
}

.projects ul li .description {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.project-item {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}

.project-item:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

.project-item .links a {
  color: #000000;
  border: 1px solid #000000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.project-item .links a:hover {
  color: var(--global-theme-color);
  border-color: var(--global-theme-color);
}
