<title>{{ site.title }} | {{site.affiliation}}</title>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
{% if site.keywords %}
<meta name="keywords" content="{{ site.keywords }}">
{% endif %}
{% if site.canonical %}
<link rel="canonical" href="{{ site.canonical }}"/>
{% endif %}

<link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark }}" type="image/png" />
<link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon }}" type="image/png" />
<script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>

<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>

{% if site.font == "Sans Serif" %}
<link rel="stylesheet" href="./assets/css/font_sans_serif.css">
{% else %}
<link rel="stylesheet" href="./assets/css/font.css">
{% endif %}
{% if site.auto_dark_mode %}
<link rel="stylesheet" href="./assets/css/style.css">
<link rel="stylesheet" href="./assets/css/publications.css">
<link rel="stylesheet" href="./assets/css/news.css">
<link rel="stylesheet" href="./assets/css/projects.css">
{% else %}
<link rel="stylesheet" href="./assets/css/style-no-dark-mode.css">
<link rel="stylesheet" href="./assets/css/publications-no-dark-mode.css">
{% endif %}

  </head>